body {
    margin: 0;
    background: #000;
    color: #fff;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    font-family: "Courier New", monospace;
}

#file {
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 20;
}